<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.LiuyanMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Liuyan">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="yishengxinxiid" property="yishengxinxiid" jdbcType="INTEGER"/>
                                    <result column="yishengzhanghao" property="yishengzhanghao" jdbcType="VARCHAR"/>
                                    <result column="liuyanneirong" property="liuyanneirong" jdbcType="VARCHAR"/>
                                    <result column="faqiren" property="faqiren" jdbcType="VARCHAR"/>
                                    <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
                                
    </resultMap>
    <sql id="Base_Column_List">
        id, yishengxinxiid, yishengzhanghao, liuyanneirong, faqiren, addtime    </sql>
    </mapper>
