<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.PinglunMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Pinglun">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="tieziid" property="tieziid" jdbcType="INTEGER"/>
                                    <result column="biaoti" property="biaoti" jdbcType="VARCHAR"/>
                                    <result column="faburen" property="faburen" jdbcType="VARCHAR"/>
                                    <result column="huifuneirong" property="huifuneirong" jdbcType="VARCHAR"/>
                                    <result column="pinglunren" property="pinglunren" jdbcType="VARCHAR"/>
                                    <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
                                
    </resultMap>
    <sql id="Base_Column_List">
        id, tieziid, biaoti, faburen, huifuneirong, pinglunren, addtime    </sql>
    </mapper>
