<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.PingcejiluMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Pingcejilu">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="xinlicepingid" property="xinlicepingid" jdbcType="INTEGER"/>
                                    <result column="cepingzhuti" property="cepingzhuti" jdbcType="VARCHAR"/>
                                    <result column="defen" property="defen" jdbcType="VARCHAR"/>
                                    <result column="daan" property="daan" jdbcType="VARCHAR"/>
                                    <result column="tijiaoren" property="tijiaoren" jdbcType="VARCHAR"/>
                                    <result column="zimu" property="zimu" jdbcType="VARCHAR"/>
                                    <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
                                
    </resultMap>
    <sql id="Base_Column_List">
        id, xinlicepingid, cepingzhuti, defen, daan, tijiaoren, zimu, addtime    </sql>
    </mapper>
